
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

html{

    font-family: 'Roboto Mono', monospace;
}

body{

    margin: 0;
    background-color: rgb(35, 37, 39);
}

